<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Como funciona?</h2>
                    <h3 class="section-subheading text-muted">Uma rápida demonstração do app</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/eye.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>#1</h4>
                                    <h4 class="subheading">Um breve cadastro</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Monte um rápido cadastro com usuário, senha e um email. Nós não vamos enviar spans e nem iremos divulgar seus dados.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/acompanhamento.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>#2</h4>
                                    <h4 class="subheading">Acompanhamento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Marque os políticos que deseja seguir.<br>Mantenha-se atualizado e os demais também!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/code.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>#3</h4>
                                    <h4 class="subheading">{Developers}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Deixaremos a nossa base de dados aberta para o consumo dos desenvolvedores.<br>Mais de 26K de políticos para consultar.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/boca.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>#4</h4>
                                    <h4 class="subheading">TALKS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Muito dos políticos tem o email na nossa base, você pode enviar quantos emails quiser, no anonimato.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>Compartilhe!
                                    <br></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
